---
layout: default
single: true
---
<aside class="left-sidebar">
  <div class="blog-index">
    <div class=rolodex>
      <div class="title-vid">Video</div>
      {% for post2 in site.categories.video %}
        <article>
          <header>
            {% if post2.id == page.id %}
              <div class="entry-title italic"><a href="{{ root_url }}{{ post2.url }}">{% if site.titlecase %}{{ post2.title | titlecase }}{% else %}{{ post2.title }}{% endif %}</a></div>
            {% else %}
              <div class="entry-title"><a href="{{ root_url }}{{ post2.url }}">{% if site.titlecase %}{{ post2.title | titlecase }}{% else %}{{ post2.title }}{% endif %}</a></div>
            {% endif %}
          </header>
        </article>
      {% endfor %}
      <div class="title-vid">Photo</div>
      {% for post2 in site.categories.photo %}
        <article>
          <header>
            {% if post2.id == page.id %}
              <div class="entry-title italic"><a href="{{ root_url }}{{ post2.url }}">{% if site.titlecase %}{{ post2.title | titlecase }}{% else %}{{ post2.title }}{% endif %}</a></div>
            {% else %}
              <div class="entry-title"><a href="{{ root_url }}{{ post2.url }}">{% if site.titlecase %}{{ post2.title | titlecase }}{% else %}{{ post2.title }}{% endif %}</a></div>
            {% endif %}
          </header>
        </article>
      {% endfor %}
      <article>&nbsp;</article>
      <article>
        <div class="entry-title"><a href="/bio">bio</a></div>
      </article>
    </div>
  </div>
</aside>

<div class="post-content">
<article class="hentry" role="article">
  {% include article.html %}
  <footer>
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
  </footer>
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>

<div class=clear></div>