---
layout: default
---

<div class="blog-index">
	<div class=rolodex>
    {% assign index = true %}
    <div class="title-vid">Video</div>
    {% for post in site.categories.video %}
    {% assign content = post.content %}
      <article>
        {% include article.html %}
      </article>
    {% endfor %}
    <div class="title-vid">Photo</div>
    {% for post in site.categories.photo %}
    {% assign content = post.content %}
      <article>
        {% include article.html %}
      </article>
    {% endfor %}
    <article>&nbsp;</article>
    <article>
      <div class="entry-title"><a href="/bio">bio</a></div>
    </article>
  </div>

  <img src="/images/pussy.jpg" alt="" />

  <div class="clear"></div>

</div>

